@model Sistema_UVM_Control_Presupuestario.SALIDA_TERRENO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SALIDA_TERRENO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ESTADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPO_SALIDA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_SALIDA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UBICACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UBICACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CANTIDAD_ALUMNOS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CANTIDAD_ALUMNOS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
