@model IEnumerable<Sistema_UVM_Control_Presupuestario.DETALLE_RENDICION>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE_ORGANIZACION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CODIGO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MONTO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE_ORGANIZACION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CODIGO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MONTO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
