@model Sistema_UVM_Control_Presupuestario.BOLETA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BOLETA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NUMERO_BOLETA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUMERO_BOLETA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_BOLETA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_BOLETA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MONTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MONTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DETALLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DETALLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OPEX.MONTO_NETO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OPEX.MONTO_NETO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAPEX.DETALLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAPEX.DETALLE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
