@model Sistema_UVM_Control_Presupuestario.PROP_DIPLOMADO

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PROP_DIPLOMADO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_NATURAL.APELLIDO_PATERNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_NATURAL.APELLIDO_PATERNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RESPONSABLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RESPONSABLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODALIDAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODALIDAD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_INICIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_INICIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_TERMINO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_TERMINO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CANTIDAD_MODULO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CANTIDAD_MODULO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CANTIDAD_ALUMNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CANTIDAD_ALUMNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COSTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COSTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INGRESO_NETO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INGRESO_NETO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COSTO_DOCENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COSTO_DOCENTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COSTO_ACADEMICO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COSTO_ACADEMICO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OTROS_COSTOS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OTROS_COSTOS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TOTAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TOTAL)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
