@model IEnumerable<Sistema_UVM_Control_Presupuestario.OPEX>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PERSONA_NATURAL.APELLIDO_PATERNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ESTADO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MONTO_NETO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IVA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TOTAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ESTADO_OPEX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RECEPCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VALIDACION)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PERSONA_NATURAL.APELLIDO_PATERNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ESTADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MONTO_NETO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IVA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TOTAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ESTADO_OPEX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RECEPCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VALIDACION)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
